*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-o-user-select:none;}
[contenteditable = "true"],input,textarea{-webkit-user-select:auto!important;-khtml-user-select:auto!important;-moz-user-select:auto!important;-ms-user-select:auto!important;-o-user-select:auto!important;user-select:auto!important;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;/*-webkit-text-size-adjust:none;*/
background:#f2f2f2;}
html,body{height:100%;padding-top:constant(safe-area-inset-top);padding-bottom:5px;padding-bottom:constant(safe-area-inset-bottom);}
@media only screen and (min-device-width:768px) and (max-device-width:1024px){html{width:750px;margin:0 auto;}
}
body{font-size:14px;line-height:1.5;font-family:"Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans","microsoft yahei",sans-serif;color:#333;background:#f2f2f2;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
mark{color:#000;background:#ff0;}
small{font-size:80%;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
pre{overflow:auto;}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
img{border:0;vertical-align:middle}
input{vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,th,var,i{font-weight:normal;font-style:normal}
input[type="radio"],input[type="checkbox"],input[type="submit"],input[type="rest"],input[type="button"],button,select{cursor:pointer;}
input[type="text"],input[type="number"],input[type="tel"],input[type="password"],input[type="submit"],input[type="rest"],input[type="button"],button,textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a img{border:0}
select{width:99%;height:30px;padding-left:5px;-webkit-appearance:menulist;box-sizing:border-box;align-items:center;border:0 none;border-image-source:initial;border-image-slice:initial;border-image-width:initial;border-image-outset:initial;border-image-repeat:initial;white-space:pre;-webkit-rtl-ordering:logical;color:black;background-color:white;cursor:default;}
input:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px white inset;}
input,textarea,keygen,select,button{text-rendering:auto;color:initial;letter-spacing:normal;word-spacing:normal;text-transform:none;text-indent:0px;text-shadow:none;display:inline-block;text-align:start;margin:0em 0em 0em 0em;font:14px Arial;}
button[disabled],html input[disabled]{cursor:default;opacity:.6;background-color:#e4e4e4;}
button::-moz-focus-inner{padding:0;border:0;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#A9A9A9;font-size:14px;}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:none;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
input::-webkit-search-decoration,input::-webkit-search-cancel-button{display:none;}
a{background-color:transparent;color:#eb6759;}
a:active,a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
a,a:link{color:#019AFE;text-decoration:none}
.dropload-up,.dropload-down,.dropload-noData,.dropload-load{z-index:97;font-size:12px;}
.dropload_top .dropload-up,.dropload_top .dropload-down,.dropload_top .dropload-noData{z-index:99;font-size:12px;position:relative;top:47px;}
/*rest*/
.clearfix:after{content:"";height:0;display:block;clear:both;}
.clearfix{*zoom:1}
.clear{clear:both}
.fl{float:left;}
.fr{float:right;}
.copyopen{-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text;-o-user-select:text;}
.disblcok,.disblock{display:block;}
.disinlcok,.disinblock{display:inline-block;}
.prel{position:relative;}
.pabs{position:absolute;}
.pfixed{position:fixed;z-index:99;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.ml10{margin-left:10px;}
.mb5{margin-bottom:5px;}
.mb6{margin-bottom:6px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mt50{margin-top:50px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt3{margin-top:3px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pl15{padding-left:15px;}
.pb0{padding-bottom:0;}
.pad30px{padding:.47rem;}
.padl30{padding-left:.47rem;}
.padr30{padding-right:.47rem;}
.padlr30{padding-left:.47rem;padding-right:.47rem;}
.pad3330{padding:.47rem .47rem .47rem 0;}
.pad230{padding:.38rem .47rem;}
.pad2320{padding:.38rem .47rem .38rem 0;}
.pad305{padding:.3rem .5rem}
.pad505{padding:.5rem}
.padl05{padding-left:.5rem}
.padr05{padding-right:.5rem}
.padlr05{padding:0 .5rem}
.padl0{padding-left:0;}
.padtb05{padding-top:.5rem;padding-bottom:.5rem;}
.padtb15{padding-top:.2rem;padding-bottom:.2rem}
.line34{line-height:34px;}
.line30{line-height:30px;}
.line24{line-height:24px;}
.line18{line-height:18px;}
.line14{line-height:14px;}
.textl{text-align:left;}
.textr{text-align:right;}
.textc{text-align:center;}
.z9999{z-index:99;}
.gray4{color:#444;}
.gray5{color:#555;}
.gray58{color:#585858;}
.gray3{color:#333;}
.gray6{color:#666;}
.gray7{color:#777;}
.gray9{color:#999;}
.graya{color:#aaa;}
.graya6{color:#a6a6a6;}
.gray8a{color:#8a8a8a;}
.gray8b{color:#8b8b8b;}
.gray8e{color:#8e8e8e;}
.gray8d{color:#8d8d8d;}
.grayc{color:#ccc;}
.fontredbtnborder{border-bottom:1px solid #ff0000;}
.fontred2,.fontredc02{color:#cc0002;}
.fontred,.fontredz,.fontredf0{color:#ff0000;}
.fontblue2{color:#007bed;}
.fontblue{color:#019AFE}
.linkred{color:#eb6759}
/*.fontblue{color:#019AFE;}
*/
.fontorange{color:#FF9000;}
.fontgreen{color:#17BA60;}
.fontgreen4D{color:#4DB04B;}
.fontwhite{color:#fff;}
.gray0{color:#000;}
.font28{font-size:.4375rem;}
/*设计稿文字28px*/
.font18{font-size:18px;}
.font16{font-size:16px;}
.font15{font-size:15px;}
.font14{font-size:14px;}
.font13{font-size:13px;}
.font12{font-size:12px;}
.font10{font-size:12px;display:inline-block;-webkit-transform:scale(0.84,0.84);transform:scale(0.84,0.84);}
.fontbold{font-weight:bold}
.bgfff{background-color:#fff;}
.bgf5{background-color:#f5f5f5;}
.bgf2{background-color:#f2f2f2;}
.fontbold{font-weight:bold;}
.fontbold0{font-weight:bold;color:#000;}
.h100{height:100%;}
.hpadbm{width:100%;height:118px;}
/*flex*/
.flexbox{display:box;display:-webkit-flex;display:-webkit-box;display:flex;}
.space_between{display:-webkit-flex;display:-webkit-box;display:flex;-webkit-align-items:center;-webkit-box-align:center;/*align-items:center;box-align:center;-webkit-flex-align:center;justify-content:space-between;-webkit-justify-content:space-between;box-pack:justify;-webkit-flex-pack:justify;*/
}
.space_between >:first-child{-webkit-box-flex:2;-webkit-flex:2;text-align:left;}
.space_between >:last-child{-webkit-box-flex:1;-webkit-flex:1;display:block;text-align:right;word-break:keep-all;white-space:nowrap;}
.flexcenter{display:-webkit-box;display:box;display:-webkit-flex;display:-webkit-box;display:flex;-webkit-align-items:center;-webkit-box-align:center;align-items:center;box-align:center;-webkit-flex-align:center;/*垂直居中*/
 -webkit-justify-content:center;-webkit-box-pack:center;justify-content:center;box-pack:center;-webkit-flex-pack:center;/*水平居中*/
}
.lrcentrt{display:-webkit-box;display:box;display:-webkit-flex;display:-webkit-box;display:flex;-webkit-justify-content:center;-webkit-box-pack:center;justify-content:center;box-pack:center;-webkit-flex-pack:center;/*水平居中*/
}
.topcenter{display:-webkit-box;display:box;display:-webkit-flex;display:-webkit-box;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;box-align:center;-webkit-flex-align:center;}
/*垂直居中*/
.flexend{-webkit-justify-content:flex-end;-webkit-box-pack:end;justify-content:flex-end;box-pack:end;-webkit-flex-pack:end;}
/*向最后对其*/
.flexwrap{-webkit-flex-flow:row wrap;-webkit-box-orient:horizontal;-webkit-box-lines:multiple;-moz-flex-flow:row wrap;box-orient:horizontal;box-lines:multiple;flex-flow:row wrap;}
/*换行显示*/
.column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-flex-direction:column;}
/*垂直p排列*/
.row_wrap{-webkit-flex-flow:row wrap;-webkit-box-orient:horizontal;-webkit-box-lines:multiple;-moz-flex-flow:row wrap;box-orient:horizontal;box-lines:multiple;flex-flow:row wrap;}
/*换行排列*/
.flexend{-webkit-justify-content:flex-end;justify-content:flex-end;-webkit-box-pack:end;box-pack:end}
.itemstrecth{-webkit-align-items:strecth;align-items:stretch;flex-align:stretch;box-align:stretch;}
.flex4{display:box;display:-webkit-flex;display:-webkit-box;display:flex;text-align:center;}
.flex4 .flex4link{-webkit-box-flex:1;-webkit-flex:1;display:-webkit-flex;display:-webkit-box;display:flex;-webkit-justify-content:center;-webkit-box-pack:center;justify-content:center;box-pack:center;align-items:center;box-align:center;/*水平居中*/
}
.boxflex{-prefix-box-flex:1;-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.boxflex2{-prefix-box-flex:2;-webkit-box-flex:2;-webkit-flex:2;flex:2;}
.boxflex3{-prefix-box-flex:3;-webkit-box-flex:3;-webkit-flex:3;flex:3;}
.boxflex4{-prefix-box-flex:4;-webkit-box-flex:4;-webkit-flex:4;flex:4;}
.boxflex5{-prefix-box-flex:5;-webkit-box-flex:5;-webkit-flex:5;flex:5;}
.flex3row{-webkit-box-flex:0 0 33.3%;-webkit-flex:0 0 33.3%;flex:0 0 33.3%;}
.flexstretch{-webkit-box-align:stretch;-webkit-align-items:stretch;align-items:stretch;}
.hide{display:none;}
.show{display:block;}
.h100{height:100%;}
/*loader*/
.loader{width:150px;height:61px;text-align:center;border:1px solid #CBCBCB;background-color:#fff;position:fixed;z-index:82;top:38%;left:50%;margin-left:-66px;}
.loader img{width:30px;height:auto;margin-right:10px}
.loadtips{width:100%;height:30px;line-height:20px;padding:5px;text-align:center;color:#fff;background-color:rgba(0,0,0,.75);font-size:12px;display:-webkit-flex;display:-webkit-box;display:flex;-webkit-justify-content:center;-webkit-box-pack:center;justify-content:center;box-pack:center;-webkit-flex-pack:center;/*水平居中*/
-webkit-box-align:center;-webkit-align-items:center;align-items:center;box-align:center;-webkit-flex-align:center;/*垂直居中*/
}
.loadtipsleft{width:100%;height:.94rem;line-height:.31rem;padding:0 .4rem;text-align:center;color:#fff;background-color:rgba(0,0,0,.75);font-size:12px;}
.loadtips .icon_remind{margin:0 0 0 10px;}
.loadtipsleft .icon_remind{margin:0 .27rem 0 0;}
/*alertlayer*/
.layerbox{width:100%;height:100%;background-color:rgba(0,0,0,.4);position:fixed;bottom:0;left:0;text-align:center;margin:0;padding:0;z-index:98;}
.layerbox85{background-color:rgba(0,0,0,.85);}
.layerbox0{background-color:rgba(0,0,0,.01);}
.alertlayer{width:8.75rem;min-height:3.2rem;border-radius:5px;-webkit-border-radius:5px;background-color:rgba(255,255,255,1);position:absolute;z-index:99;padding-bottom:45px;margin-top:0!important;top:50vh!important;left:50%!important;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.alertlayerpb0{padding-bottom:0;}
.alertlayercon{min-height:2rem;line-height:25px;padding:0 10px;display:-webkit-flex;display:-webkit-box;display:flex;-webkit-justify-content:center;-webkit-box-pack:center;justify-content:center;box-pack:center;-webkit-flex-pack:center;/*水平居中*/
 -webkit-box-align:center;-webkit-align-items:center;align-items:center;box-align:center;-webkit-flex-align:center;/*垂直居中*/
flex-direction:column;}
.alertlayerh2{margin-bottom:6px;width:100%;font-size:16px;line-height:40px;position:relative;}
.alertlayerh2:after{position:absolute;content:'';width:100%;height:1px;background-color:#ccc;-webkit-transform:scaleY(0.5);-ms-transform:scaleY(0.5);transform:scaleY(0.5);left:0;right:0;bottom:0;}
.alertlayercon >p,.alertlayercon >div{width:100%;}
.alertlayercon .alertconscroll{max-height:11rem;overflow--y:scroll;-webkit-overflow-scrolling:touch;}
/*two btn*/
 .alertlayer .alertbtn{padding:10px;position:absolute;bottom:0;left:0;width:100%;}
.alertlayer .alertbtn .btn{width:48%;height:40px;line-height:30px;padding:5px 0;}
/*three btn*/
 .layerbtn3{position:absolute;bottom:0;left:0;width:100%;height:45px;line-height:45px;}
.layerbtn3 a,.layerbtn3 a:link{display:block;color:#eb6759;}
/*one close btn*/
 .alertlayer .closebtn,.alertlayer .closebtn:link{display:block;position:absolute;bottom:0;left:0;width:100%;height:45px;line-height:45px;color:#eb6759;}
.alertlayer .closebtn:before,.layerbtn3:before{position:absolute;content:'';width:100%;height:1px;background-color:#ccc;-webkit-transform:scaleY(0.5);-ms-transform:scaleY(0.5);transform:scaleY(0.5);left:0;top:0;}
.tipslayer{width:270px;padding:20px;border:2px solid rgba(0,0,0,.5);background-color:rgba(0,0,0,.5);border-radius:4px;-webkit-border-radius:4px;color:#fff;position:fixed;top:50%;left:50%;margin-left:-135px;margin-top:-30px;}
.layerdelbtn{position:absolute;top:0;right:0;padding:10px;}
.layerdelbtn .icon_del{width:21px;height:21px;border-radius:21px;-moz-border-radius:21px;-webkit-border-radius:21px;}
.layerbox .dlbox{padding:10px 10px 10px 20px;position:absolute;top:1px;right:10px;}
.layerbox .dlbox .icondelmin{-webkit-transform:scale(1.3,1.3);transform:scale(1.3,1.3);}
.layerbox .closeball2{display:inline-block;padding-left:33px;padding-right:10px;height:48px;line-height:48px;overflow:hidden;position:absolute;top:0;left:0;}
.layerbox .closeball2:after{content:'';display:block;width:10px;height:10px;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);position:absolute;top:50%;left:.5rem;margin-top:-5px;}
/*layer_page*/
.layer_page,.pageall{width:100%;height:100%;padding:48px 0 73px;display:-webkit-flex;display:-webkit-box;display:flex;align-items:stretch;flex-align:stretch;box-align:stretch;-webkit-box-orient:vertical;-webkit-box-direction:normal;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-flex-direction:column;}
.layer_page .headfixed{z-index:98}
.layer_pagenobtn{padding:48px 0 0;}
.layer_page_main{overflow-y:scroll;-webkit-box-flex:1;-webkit-flex:1;flex:1;background-color:#fff;-webkit-overflow-scrolling:touch;}
.layer_page_maincon{padding:10px;text-align:left;line-height:24px;color:#8b8b8b;min-height:260px;}
.layer_page_btnbox{height:68px;position:fixed;z-index:99;bottom:0;left:0;width:100%;border-top:1px solid #CBCBCB;background:#fff;}
/*layermenu*/
.layermenu{padding:6px 0;border-bottom:1px solid #CBCBCB;background-color:#F5F5F5;}
.layermenu .headermenu{width:60%;margin:0 auto;border:1px solid #cc0002;}
.layermenu .headermenu a{position:relative;color:#cc0002;}
.layermenu .headermenu a.sed,.layermenu .headermenu a:link.sed{background-color:#cc0002;color:#fff;}
/*layerbottom*/
.layerbottom{position:absolute;width:100%;bottom:0;background-color:#fff;border-top:1px solid #e4e4e4;margin:0;padding:0;z-index:99;}
.layerbottom_h{padding:15px 0 10px;font-size:15px;color:#585858;text-align:center;}
.layerbottom_con{padding:0 20px 20px 20px;text-align:center;}
.layerbottom_btn{border-top:1px solid #e4e4e4;width:100%;line-height:45px;height:45px;}
/*iconbg*/
.layerbox .closeball,.icon_help_blue,.iconbg,.qibtn_sed::after,.sedbg:before,.ballsha::after,.dancheck_sed::after{display:inline-block;background-image:url(../images/iconbg-8890ba0b9e.png);background-repeat:no-repeat;background-size:20px 450px;}
.layerbox .closeball{position:absolute;right:.38rem;top:.26rem;width:20px;height:20px;background-position:0 -25px;z-index:2;}
.icon_help_blue{width:20px;height:20px;background-position:0 0;}
/*蓝色问号*/
.iconbg_helpgray{width:14px;height:15px;background-position:0 -106px;}
/*灰色问号 小*/
.icon_remind{width:12px;height:12px;background-position:0 -160px;}
/*灰色叹号*/
.icon_remindw{width:12px;height:12px;background-position:0 -309px;}
/*白色叹号*/
.icon_remindwblack{width:14px;height:14px;background-position:0 -336px;}
/*黑色叹号*/
.qibtn_sed::after,.sedbg:before{content:'';display:block;width:8px;height:8px;background-position:0 -151px;}
/*选中对勾*/
.iconclear{width:20px;height:21px;background-position:0 -176px;}
/*清除*/
.icondelmin{width:8px;height:8px;background-position:0 -200px;-webkit-transform:scale(1.4,1.4);transform:scale(1.4,1.4);}
/*删除x*/
.icondelbig{width:20px;height:20px;background-position:0 -210px;}
/*删除大x*/
.ballsha::after{content:'';display:block;width:20px;height:20px;background-position:0 -210px;}
.xuanhao_jxicon{width:13px;height:12px;background-position:0 -278px;}
.dancheck_sed::after{content:'';display:block;width:14px;height:14px;background-position:0 -293px;}
/*红色设胆对勾*/
.icon_timegray{display:inline-block;width:12px;height:12px;background-position:0 -323px}
/*灰色时间*/
.icon_telred{display:inline-block;width:16px;height:16px;background-position:0 -395px;}
/*红色电话*/
.icon_mes{display:inline-block;width:16px;height:16px;background-position:0 -354px;}
/*灰色消息*/
.icon_dianpu{display:inline-block;width:16px;height:16px;background-position:0 -416px;}
/*店铺灰色*/
.icon_pj{display:inline-block;width:16px;height:16px;background-position:0 -375px;}
/*评价*/
.icon_tickbai{display:inline-block;width:11px;height:7px;background-position:0 -433px;}
/*白色对勾*/
.icon_crossbai{display:inline-block;width:8px;height:8px;background-position:0 -442px;}
/*白色叉号*/
.icon_markbai{display:inline-block;width:3px;height:8px;background-position:-17px -433px;}
/*白色叹号*/
.icon_bindgray{width:16px;height:16px;background-position:0 -235px;}
/*灰色绑定*/
.icon_sharegray{width:16px;height:16px;background-position:0 -257px;}
/*灰分享*/
.icon_tel_gray{width:22px;height:22px;background-position:0 -140px;display:inline-block;background-image:url(./../../static/images/userbg2-4c339d679b.png?v=20181108001);background-repeat:no-repeat;background-size:29px 584px;}
.iconbg2{display:inline-block;background-image:url(../images/iconbg02-5ba16fb14c.png?v=20181108001);background-repeat:no-repeat;background-size:32px 526px;}
.icondelbtn{width:32px;height:20px;background-position:0 0;}
.iconbg2_horn{width:12px;height:12px;background-position:0 -41px;}
.iconbg02_money{width:13px;height:13px;background-position:-19px -41px;}
/*.iconbg2_hemai{width:30px;height:28px;background-position:0 -59px;}
*/
.icon_weixin2,.icon_telblue{background-size:47px 754px;}
.icon_weixin2{width:23px;height:19px;background-position:0 -154px;}
.icon_telblue{width:19px;height:19px;background-position:0 -131px;}
.iconbg_magray{width:13px;height:14px;background-position:-19px -91px;}
.icon_download{width:15px;height:14px;background-position:0 -124px;}
.iconbg_downgray{width:13px;height:13px;background-position:-19px -124px;}
.icon_weixinw{width:17px;height:15px;background-position:0 -141px;}
.icon_wenborder{width:13px;height:12px;background-position:-19px -141px;}
/*问号带框*/
.icon_onlybg{width:8px;height:12px;background-position:0 -158px;}
/*徽章橘色透明*/
.icon_telwhite{width:17px;height:16px;background-position:-16px -158px;}
.icon_collect{width:14px;height:15px;background-position:0 -169px;}
/*收藏icon*/
.icon_collectwx{width:21px;height:21px;background-position:0 -505px;}
/*微信收藏图标*/
/*.icon_weixinw,.icon_alipayw,.icon_qqw{display:block;width:35px;height:35px;background-image:url(../images/otherlogo.png);background-repeat:no-repeat;background-size:34px 117px;}
.icon_weixinw{background-position:0 0;}
.icon_qqw{background-position:0 -40px;}
.icon_alipayw{background-position:0 -83px;}
*/
/*sedbg*/
.sedbg{position:relative;}
.sedbg:before,.sedbg:after{content:'';position:absolute;display:block;}
.sedbg:after{width:0;height:0;font-size:0;border-width:8px;border-style:solid;border-color:transparent #cc0002 #cc0002 transparent;bottom:0;right:0;}
.sedbg:before{bottom:2px;right:1px;z-index:2;}
.dancheck_sed::after{content:'';display:block;width:14px;height:14px;background-position:0 -293px;}
/*红色设胆对勾*/
/*ball*/
.redball_bd,.blueball_bd,.redball,.blueball{display:inline-block;width:22px;height:22px;border-radius:22px;-moz-border-radius:22px;-webkit-border-radius:22px;text-align:center;margin-right:3px;}
.redball_bd,.blueball_bd{line-height:20px;border-width:1px;border-style:solid;}
.redball_bd{border-color:#ff0000;color:#ff0000;}
.blueball_bd{border-color:#004bed;color:#004bed;}
.redball,.blueball{color:#fff;line-height:22px;}
.redball{background-color:#ff0000;}
.blueball{background-color:#004bed;}
/*icon*/
.icon_arrowleft{width:10px;height:10px;border-width:1px;border-style:solid;border-color:#007bed #fff #fff #007bed;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
.icon_arrowgrayup,.icon_arrowgraydown,.uparrow,.downarrow{display:block;font-size:0;width:0;height:0;border-width:6px 4px;border-style:solid solid solid solid;}
.icon_arrowgraydown{border-color:#a3a3a3 transparent transparent transparent;margin-top:5px;transition:-webkit-transform .4s;-webkit-transition:-webkit-transform .4s;}
/*.icon_arrowgrayup{border-color:transparent transparent #a3a3a3 transparent;margin-top:-5px;}
*/
.icon_arrowgrayup{-webkit-transform:rotate(180deg);transform:rotate(180deg);margin-top:-5px;}
.icon_bluedot{display:inline-block;width:6px;height:6px;background-color:#019AFE;border-radius:6px;-webkit-border-radius:6px;color:#fff;}
.icon_reddot{display:inline-block;width:6px;height:6px;background-color:#cc0002;border-radius:6px;-webkit-border-radius:6px;color:#fff;}
/*aw_down blue*/
.aw_down{display:inline-block;width:17px;height:15px;position:relative;overflow:hidden;transition:-webkit-transform .4s;-webkit-transition:-webkit-transform .4s;}
.aw_down:after{content:'';width:8px;height:8px;border-width:2px;border-style:solid;border-color:#0885FB transparent transparent #0885FB;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);position:absolute;top:-3px;left:2px;}
/*aw_down gray*/
.aw_downgray{display:inline-block;width:17px;height:15px;position:relative;overflow:hidden;transition:-webkit-transform .4s;-webkit-transition:-webkit-transform .4s;}
.aw_downgray:after{content:'';width:9px;height:9px;border-width:1px;border-style:solid;border-color:#7F7F7F transparent transparent #7F7F7F;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);position:absolute;top:-3px;left:2px;}
.aw_down_up{-webkit-transform:rotate(-180deg);transform:rotate(-180deg);}
.icon_boxarrow{font-size:0;width:0;height:0;border-width:6px 6px;border-style:solid solid solid solid;border-color:transparent #d8d8d8 transparent transparent;position:absolute;top:50%;margin-top:-6px;left:-12px;}
.icon_boxarrow::after{content:'';border-width:6px 6px;border-style:solid solid solid solid;border-color:transparent #ffffff transparent transparent;position:absolute;top:-6px;left:-5px;}
.icon_boxarrow_top{font-size:0;width:0;height:0;border-width:6px 6px;border-style:solid solid solid solid;border-color:transparent transparent #d8d8d8 transparent;position:absolute;top:50%;margin-top:-6px;left:-12px;}
.icon_boxarrow_top::after{content:'';border-width:6px 6px;border-style:solid solid solid solid;border-color:transparent transparent #ffffff transparent;position:absolute;top:-5px;left:-6px;}
/*tableboder*/
.tableborder{width:100%;text-align:center;}
.tableborder th,.tableborder td{border:1px solid #e0e0e0;}
.tableborder tr > th{background-color:#f5f5f5;}
.tableborder tr > td{background-color:#fff;}
.tableborder > tbody > tr:nth-of-type(odd) td{background-color:#f7f7f9;}
/*form*/
.sed::after{content:'';background-repeat:no-repeat;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAUCAMAAABLXLayAAAAaVBMVEUAAAABm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/8Bm/86wb6JAAAAInRSTlMA8Pgk2MvGHuvn0GBQNjH0wkoo37tcWVdOQBcHsZiGZVRFMY0EUwAAAJhJREFUKM91j1kOgzAMBU0ohJYtTdnp6vsfsnkSSgmN58vOaCyFBBqj7oKqT8xKqJziXKz4VstqFg+ePzFlL1BXjOuyBirNvKJn9kj3ylcOxZyloSqmbcMC+TtYVLQxJ/imJqDznQKVl9q4KXl7A1m4J6NpQaUGChhRdk2HqqcDA6SCGumPvmXQlhShVChfFKVMUAnYydKBL+rtDptMpCK9AAAAAElFTkSuQmCC)}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form_line{border-bottom:1px solid #EFEFEF;padding:.373333rem .266667rem;}
.input_nobd{-webkit-appearance:none;width:100%;padding:0;background-color:transparent;border:0 none!important;color:#333;font-size:15px;outline:0;}
.checkbox{display:inline-block;width:14px;height:14px;border:1px solid #9F9F9F;}
.checkbox_sed,.checkbox.sed{border-color:#9F9F9F;position:relative;}
.checkbox_sed::after,.checkbox.sed::after{content:'';display:block;width:7px;height:4px;border-left:1px solid #ff0000;border-bottom:1px solid #ff0000;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);position:absolute;top:2px;left:2px;}
.formerror{width:90%;padding:6px;background-color:#fff;line-height:26px;border:2px solid #ff0000;position:fixed;top:45%;left:5%;right:5%;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;color:#ff0000;font-size:14px;text-align:center;z-index:5;}
textarea{resize:none;}
.input_nobd::-webkit-input-placeholder{font-size:12px;}
/*btn*/
.towbtnbox{width:100%;display:-webkit-flex;display:-webkit-box;display:flex;}
.towbtnbox>p{-webkit-box-flex:1;-webkit-flex:1;flex:1;width:50%;}
.towbtnbox .btn{width:100%;}
.btn,input.btn{font-family:"Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans","microsoft yahei",sans-serif;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:16px;line-height:30px;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus,.btn.focus{color:#333;text-decoration:none;}
.btn:active,.btn.active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{pointer-events:none;cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65;}
.btnmin{padding:2px 10px;}
.btn_blue,a.btn_blue:link{color:#fff;background-color:#019BFF;border-color:#019BFF;}
.btn_blue:hover,.btn_blue:focus,.btn_blue.focus,.btn_blue:active,.btn_blue.active{color:#fff;background-color:#0174C0;border-color:#0174C0;}
.btn_gray,a.btn_gray:link{color:#8b8b8b;background-color:#eee;border-color:#e4e4e4;}
.btn_gray:hover,.btn_gray:focus,.btn_gray.focus,.btn_gray:active,.btn_gray.active{color:#8b8b8b;background-color:#eee;border-color:#e4e4e4;}
.btn_orange,.btn_orange:link{color:#fff;background-color:#FE6400;border-color:#FE6400;}
.btn_orange:hover,.btn_orange:focus,.btn_orange.focus,.btn_orange:active,.btn_orange.active{color:#fff;background-color:#FE6400;border-color:#FE6400;}
.paybtn2,.paybtn2:link{color:#fff;background-color:#FF9000;;border-color:#FF9000;font-size:16px;}
.paybtn2:hover,.paybtn2:focus,.paybtn2.focus,.paybtn2:active,.paybtn2.active{color:#fff;background-color:#FF9000;border-color:#FF9000;}
.btn_green,.btn_green:link{color:#fff;background-color:#4DB04B;border-color:#4DB04B;}
.btn_green:hover,.btn_green:focus,.btn_green.focus,.btn_green:active,.btn_green.active{color:#fff;background-color:#4DB04B;border-color:#4DB04B;}
.borderbtn,.borderbtn:link{border:1px solid #eb6759;background-color:#fff;padding:0 10px;line-height:26px;height:28px;font-size:14px;color:#eb6759;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.borderbtn:hover,.borderbtn:focus,.borderbtn:active,.borderbtn.active{color:#eb6759;background-color:#fff;}
.borderbtn_gray,.borderbtn_gray:link{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #8b8b8b;background-color:#fff;font-size:12px;color:#8b8b8b;}
.borderbtn_gray:hover,.borderbtn_gray:focus,.borderbtn_gray:active,.borderbtn_gray.active{color:#8b8b8b;background-color:#fff;}
.borderbtn_blue,.borderbtn_blue:link{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #019AFE;background-color:#fff;font-size:12px;color:#019AFE;text-align:center}
.borderbtn_blue:hover,.borderbtn_blue:focus,.borderbtn_blue:active,.borderbtn_blue.active{color:#019AFE;background-color:#fff;}
.btn_red,.btn_red:link{padding:0 15px;line-height:28px;height:28px;font-size:16px;background-color:#eb6759;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;color:#fff;}
.btn_red:hover,.btn_red:focus,.btn_red.focus,.btn_red:active,.btn_red.active{color:#fff;background-color:#eb6759;border-color:#eb6759;}
.btn_darkred,.btn_darkred:link{display:inline-block;padding:0 15px;line-height:28px;height:28px;font-size:16px;background-color:#B7282E;color:#fff;}
.btn_darkred:hover,.btn_darkred:focus,.btn_darkred.focus,.btn_darkred:active,.btn_darkred.active{color:#fff;background-color:#B7282E;border-color:#B7282E;}
.btn_savedbtn,.btn_savedbtn:link{display:inline-block;padding:0 15px;font-size:16px;background-color:#D9A72E;color:#fff;}
.btn_savedbtn:hover,.btn_savedbtn:focus,.btn_savedbtn.focus,.btn_savedbtn:active,.btn_savedbtn.active{color:#fff;background-color:#D9A72E;border-color:#D9A72E;}
.btn_blockbox{padding:0 .4rem;}
.btn_blockbox .btn_block,.btn_block{display:block;width:100%;height:44px;line-height:30px;padding:6px 12px;font-size:16px;}
.btnmore{padding:.47rem;}
.btnmore .btn_gray{font-size:14px;width:100%;height:.91rem;line-height:.91rem;padding:0;color:#777;border-color:#ccc;}
.btn_disabled{opacity:.4;}
.brn_redsm{display:inline-block;padding:0 5px;line-height:0.48rem;background:#EB6759;border-radius:2px;-webkit-border-radius:2px;color:#fff;font-size:12px;}
.brn_redsm:hover,.brn_redsm:focus,.brn_redsm.focus,.brn_redsm:active,.brn_redsm.active{color:#fff;}
/*switchbox*/
.switchbox{width:1.65rem;height:.9rem;border-radius:.9rem;-webkit-border-radius:.9rem;position:relative;border-width:2px;border-style:solid;}
.switchbox_open{background:#4CDB63;border-color:#4CDB63;}
.switchbox_close{background:#fff;border-color:#E4E4E4;}
.switchboxbtn{position:absolute;width:.74rem;height:.74rem;border-radius:.74rem;-webkit-border-radius:.74rem;background-color:#fff;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.3);box-shadow:0 4px 5px rgba(0,0,0,.3);}
.switchbox_open .switchboxbtn{top:0;right:0;}
.switchbox_close .switchboxbtn{top:0;left:0;}
/*------*/
/*------*/
/*------*/
